.drug_container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.drug_container hr{
    border: 1px solid var(--font-color-black-1);
    border-radius: 5px;
}

.title{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title h5{
    padding: 5px 0;
}

.tb_container{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    /* background-color: blue; */
}


.verify_orders{
    margin: 0 5px;
}

/* Table display */
.tb_verify{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    
    /* overflow-x: scroll; */
    /* background-color: aquamarine; */
    padding: 10px 0;
}

.tb_verify table{
    display: table;
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.tb_verify tbody{
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.tb_verify thead tr:nth-child(1){
    border-bottom: 1px solid rgb(12, 158, 20);
}

.tb_verify tr{
    border-bottom: 1px solid gray;
}

.tb_verify tr:nth-child(even) {
    background-color: #ececec;
}

.tb_verify tr th:nth-child(1),
.tb_verify tr td:nth-child(1){
    width: 100px;
    vertical-align: middle;
    text-align: center;
}

.tb_verify tr th{
    font-size: var(--font-size-sm);
    font-weight: 600;
    padding: 5px;
    text-align: left;
    background-color: var(--primary-300);
    color: white;
}

.tb_verify tr td{
    font-size: var(--font-size-xsm);
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 2px;
    /* vertical-align: middle;
    text-align: center; */
}

.tb_verify tr td button{
    font-size: var(--font-size-xsm);
    background-color: rgb(167, 167, 167);
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px 10px;
    text-align: center;
}

.tb_verify .en_verify{
    background-color: rgb(13, 214, 23);
    color: white;
}

.tb_verify .ds_verify{
    background-color: rgb(167, 167, 167);
    color: white;
}

/* Table display */


.isTrueTypeDrug{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: full;
    padding: 0 10px;
    border-radius: 10px;
    border: solid 1px var(--green-500);
}

.isFalseTypeDrug{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: full;
    padding: 0 10px;
    border-radius: 10px;
    border: solid 1px var(--primary2-400);
}

.isOpenUseDrug {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: full;
    padding: 0 10px;
    color: var(--green-500);
}

.isCloseUseDrug {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: full;
    padding: 0 10px;
    color: var(--primary2-400);
}