
/* ---------------------------------------------- */
/* input date time style */
.input_date_group{
    width: max-content;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .input_date_group .rt_input{
    font-size: var(--font-size-md);
    font-weight: 400;
    min-width: auto;
    width: 160px;
    height: auto;
    border: 1px solid var(--main-color-1);
    border-radius: 10px;
    color: var(--main-color-1);
    cursor: pointer;
    padding: 2px 30px 2px 10px;
  }
  
  .input_date_group .rt_input:focus,
  .input_date_group .rt_input:active{
    outline-width: 0;
    border: 1px solid var(--main-color-1);
  }
  
  .input_date_group .rt_input_toggle:focus,
  .input_date_group .rt_input_toggle:active{
    outline-width: 0;
    border-left: solid 1px gray;
  }
  
  .input_date_group .rt_dt_toggle{
    position: absolute;
    width: 40px;
    height: 100%;
    padding: 0px;
    margin: 0;
    right: 5px;
    border: none;
    border-radius: 0px;
    border-left: solid 1px gray;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: brown;
  }
  
  .input_date_group .rt_dt_toggle svg{
    width: 60%;
    height: 60%;
    position: relative;
    background-color: transparent;
  }
  
  .input_date_group .rt_input_toggle{
    outline-width: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
  /* ---------------------------------------------- */